**/.ipynb_checkpoints
**/__pycache__/

.env
.bashrc

notebooks/*/*.png
notebooks/*/*.html

# the folder that contains the Whatsapp profile
# use the two / at beginning and end to ignore only this top level folder
# but not src/whatsapp
/Whatsapp/